<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.company.ccusage</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/submit-ccusage.sh</string>
        <string>user@company.com</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>10</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/tmp/ccusage-submit.log</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/ccusage-submit-error.log</string>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>LaunchOnlyOnce</key>
    <false/>
    
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>